/*
color: 041012 (background)
color: 1C302C (hover, current items)
color: 4D694E ()
color: A69A5B (links, headers)
color: F5D277 (text, borders)

*/

body {
    background: #041012;
    color: #F5D277;
}
a {
    color: #A69A5B;
}
h1, h2, h3, h4, h5, h6 {
    color: #A69A5B;
}
#mainmenu {
    background: #1C302C;
    border-bottom: solid 1px #F5D277;
}
.lang-select li:hover, .lang-select li.current {
    background: #4D694E;
}
#field {
    border: solid 1px #000;
}
.user-list {
/*    background: #222;*/
}
.user:hover {
    background: #1C302C;
}
.premades, .game-controls {
/*    background: #222;*/
}
.premade:hover {
    background: #1C302C;
}
.chat {
/*    background: #1C302C; */
}
.game-modes li.current {
    background: #1C302C;
}
.game-modes li img {
    background: #041012;
}
.cm-s-night, .cm-s-night .CodeMirror-gutter {
    background: #041012;
}
.code.cm-s-night {
    background: #1C302C;
}
#exercises .exercise-list .exercise {
    border-bottom: solid 1px #F5D277;
}

#exercises .courses-list .course:hover, #exercises .exercise-list .exercise:hover,
#exercises .courses-list .course.current {
    background: #1C302C;
}

.exercise-controls>div {
    background: #4D694E;
}
