#mainmenu {
    height: 30px;
}

.lang-select {
    float: right;
    list-style: none;
    padding: 0;
}
.lang-select li {
    float: left;
    padding: 0 4px;
    cursor: pointer;
}

#bot-editor #editor {
    height: 80%;
    width: 100%;
}
#editor .CodeMirror {
    height: 100%;
}
#editor .CodeMirror-scroll {
    height: 100%;
    overflow: scroll;
}
#bot-editor #console {
    height: 20%;
    width: 100%;
    overflow: scroll;
    white-space: pre;
}