#mainmenu {
    height: 35px;
}

.lang-select {
    float: right;
    list-style: none;
}
.lang-select li {
    float: left;
    cursor: pointer;
}

#public .user-list, #public .premades {
    height: 100%;
}
