* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}
#public, #premade, #gameChat, #game, #create, #body {
    position: relative;
    height: 100%;
}

body {
    min-width: 980px;
    position: relative;
}

fieldset {
    border: none;
}
.lang-select li {
    padding: 0 6px;
}

#login form {
    float: left;
    width: 300px;
}

#login form span {
    float: left;
    width: 120px;
}
#login .faq {
    padding-left: 18px;
}

#public, #premade, #game, #create {
    float: left;
}
#premade, #game {
    width: 50%;
}

#field {
    border: solid 1px gray;
    margin: 10px 0 0 70px;
}
#game {
    height: 430px;
}
#game .player0-stats {
    position: absolute;
    left: 5px;
    bottom: 10px;
    width: 60px;
}
#game .player1-stats {
    position: absolute;
    left: 490px;
    bottom: 10px;
}

.user-list {
    float: left;
    overflow: auto;
}
.user:hover {
    cursor: pointer;
}

.game-controls select {
    width: 60px;
}
.premades {
    text-align: left;
}
.premades button, .game-controls button {
    width: 90px;
    margin-top: 8px;
}
.premade:hover {
    cursor: pointer;
}

.chat .chat-log {
    overflow: auto;
}
.message-form {
    position: absolute;
    bottom: 0;
    left: 0;
}
.message-form input[type="text"] {
    width: 200px;
}
#bot-stack {
    float: right;
    width: 40px;
}
#bot-stack .bot {
    float: right;
}

.like-wrapper {
    margin-right: 36px;
    float: right;
    width: 98px;
    padding-top: 4px;
}
#credits {
    position: absolute;
    width: 100%;
    bottom: 10px;
}
#credits a.span {
    padding-right: 20px;
}
