* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}
#public, #premade, #gameChat, #game, #create {
    position: relative;
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0 auto;
    background: #222;
    min-width: 980px;
    color: #fff;
    position: relative;
}

a {
    color: white;
}

#login>form {
    padding: 60px 60px 0;
}
#login ul.faq {
    margin-bottom: 20px;
}
#login>form span {
    float: left;
    width: 120px;
}
#login>form div {
    padding: 0 0 5px;
}
#login>form div.submit {
    padding-left: 120px;
}

#public, #premade, #game {
    float: left;
    width: 50%;
}
#create {
    float: left;
    width: 48%;
    padding: 0 0 0 2%;
}
#public h1, #create h1 {
    background: #444;
    text-align: center;
}

#field {
    border: solid 1px gray;
    margin-top: 50px;
}
#game .player0-stats {
    float: left;
    padding-left: 10px;
    width: 340px;
}
#game .player1-stats {
    float: left;
}
#game .player2-stats {
    position: absolute;
    top: 10px;
    left: 10px;
}
#game .player3-stats {
    position: absolute;
    top: 10px;
    left: 350px;
}

.user-list {
    float: left;
    width: 20%;
    overflow: auto;
    background: #222;
    padding-bottom: 32000px;
    margin-bottom: -32000px;
}
.user:hover {
    background: #444;
    cursor: pointer;
}

.premades, .game-controls {
    float: left;
    width: 20%;
    padding-bottom: 32000px;
    margin-bottom: -32000px;
    margin-left: 60%;
    background: #222;
}
.game-controls select {
    width: 60px;
}
.premades input, .game-controls input {
    width: 90px;
}
.premade:hover {
    background: #444;
    cursor: pointer;
}

.chat {
    float: left;
    width: 60%;
    margin-left: -80%;
    background: #333;
}
.chat .chat-log {
    overflow: auto;
}
.message-form {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
    height: 30px;
    line-height: 30px;
}
.message-form input[type="text"] {
    width: 250px;
}
.message-form input[type="submit"] {
    width: 70px;
}
#bot-stack {
    float: right;
    width: 80px;
}

.current {
    font-weight: bold;
}
#create-form {
    margin: 10px 0 30px;
}
.game-modes {
    list-style: none;
    overflow: hidden;
}
.game-modes li {
    float: left;
    width: 255px;
    text-align: center;
    padding: 20px 5px 40px;
    cursor: pointer;
}
.game-modes li.current {
    background: #444;
    font-weight: normal;
}
.game-modes li p {
    text-align: left;
}

.like-wrapper {
    width: 98px;
    padding: 40px 0 0 10px;
}
#credits {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    font-size: 11px;
}
#credits a.span {
    padding-right: 20px;
}
#game .fb-like {
    clear: both;
    margin-top: 40px;
}
.locked {
    text-decoration: line-through;
}