* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    min-height: 650px;
}
#public, #premade, #gameChat, #game, #create, #bot-editor, #exercises, #help, #body {
    position: relative;
    height: 100%;
}

body {
    margin: 0 auto;
    min-width: 980px;
    position: relative;
}

.ui-block {
    display: none;
}

#login>.login {
    padding: 30px;
}

#login form {
    float: left;
    width: 300px;
    padding: 30px 60px 30px;
}

#login form fieldset {
    padding: 10px;
}

#login ul.faq {
    margin-bottom: 20px;
    padding-left: 40px;
}
#login form span {
    float: left;
    width: 120px;
}
#login form div {
    padding: 0 0 5px;
}
#login form div.submit {
    padding-left: 120px;
}

#public, #premade, #game, #bot-editor, #help {
    float: left;
    width: 50%;
}
#create {
    float: left;
    width: 48%;
    padding: 0 0 0 2%;
}

#field {
    border: solid 1px gray;
    margin-left: 70px;
}
#game {
    height: 420px;
}
#game .player0-stats {
    position: absolute;
    left: 5px;
    bottom: 10px;
    width: 60px;
}
#game .player1-stats {
    position: absolute;
    left: 490px;
    bottom: 10px;
}
#game .player2-stats {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 60px;
}
#game .player3-stats {
    position: absolute;
    left: 490px;
    top: 10px;
}
#game .fb-like {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin-top: 40px;
}
#game .exercise-game-controls {
    display: none;
}
#game .exercise-game-controls input {
    width: 100px;
}

#game.create-bot .exercise-game-controls {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: 100px;
}

.user-list {
    float: left;
    width: 20%;
    overflow: auto;
}
.user:hover {
    cursor: pointer;
}

.premades, .game-controls {
    float: left;
    width: 20%;
    margin-left: 60%;
}
.game-controls select {
    width: 60px;
}
.premades input, .game-controls input {
    width: 90px;
}
.premade:hover {
    cursor: pointer;
}

.chat {
    float: left;
    width: 60%;
    margin-left: -80%;
}
.chat .chat-log {
    overflow: auto;
}
.message-form {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
    height: 30px;
    line-height: 30px;
}
.message-form input[type="text"] {
    width: 250px;
}
#bot-stack {
    float: right;
    width: 40px;
}
#bot-stack .bot {
    float: right;
}

#create-form {
    margin: 10px 0 30px;
}
.game-modes {
    list-style: none;
    overflow: hidden;
}
.game-modes li {
    float: left;
    width: 255px;
    padding: 20px 5px 40px;
    cursor: pointer;
}

.like-wrapper {
    width: 98px;
    padding: 40px 0 0 10px;
}
#credits {
    position: absolute;
    width: 100%;
    bottom: 10px;
}
#credits a.span {
    padding-right: 20px;
}

#bot-editor #editor {
    height: 100%;
    width: 100%;
}
#editor .CodeMirror {
    height: 100%;
}
#editor .CodeMirror-scroll {
    height: 100%;
}

#exercises .exercise-list {

}
#exercises .exercise-controls>div {
    cursor: pointer;
}
#exercises .exercise-list .exercise {
    height: 100px;
    padding: 10px;
    position: relative;
}
#exercises .exercise-list .exercise .exercise-controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.exercise-controls>div {
    float: right;
    min-width: 20px;
    height: 20px;
    padding: 0 3px;
    margin-right: 4px;
}

#help {
    overflow: auto;
}
#help .content {
    margin: 10px;
}
#help .code {
    margin: 5px 5px 5px 10px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}