
html, body {
    text-align: justify;
    font: normal 14px/18px 'Lucida Grande', Verdana, sans-serif;
}

h1 {
    font-size: 22px;
}
h2 {
    font-size: 20px;
}
legend {
    font-weight: bold;
}

#mainmenu {
    line-height: 30px;
}
.current {
    font-weight: bold;
}

.game-modes li.current {
    font-weight: normal;
}
.game-modes li p {
    text-align: left;
}

#credits {
    text-align: center;
    font-size: 11px;
}
.locked {
    text-decoration: line-through;
}

#game .player0-stats {
    text-align: right;
}
#game .player2-stats {
    text-align: right;
}
.game-modes li {
    text-align: center;
}